@page "/ApproverMaterial"
@using PickingListsSystem.Dto.Materials
@using PickingListsSystem.Services
@using PickingListsSystem.Services.Contracts;
@using PickingListsSystem.Front.Services

<PageTitle>Index</PageTitle>
<h3>Время говнокода x3!!!</h3>
